@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

/* markscript */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* architects daughter */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.align{
  margin-left:0%;
  margin-top:10%;
}
.header{
  width:100%;
  display:flex;
  justify-content: center;
  background-color: aqua;
  padding:10px 12px;
  font-family: 'Quicksand', sans-serif;
}
ul li{
  list-style-type: none;
}
body{
  background-color:aliceblue;
}